sklad.observer, www.sklad.observer {
	redir https://blog.sklad.observer{uri}
	log
}

blog.sklad.observer {
	reverse_proxy http://blog:80
	log
}

gitea.sklad.observer {
	reverse_proxy http://gitea:3000
}
