<footer class="common-footer">
    <div class="common-footer-bottom">
        <div class="copyright">
            <p>
                ©
                {{ if isset .Site.Params "author"}}{{ .Site.Params.author }}, {{end}}
                {{ if isset .Site.Params "start_year"}}{{ .Site.Params.start_year }}&ndash;{{end}}{{ now.Year }}
                {{ $file_path := "" }}
                {{ with .File }}
                {{ $file_path = .Path }}
                {{ end }}
                {{ if ne $file_path "/about.md" }}
                <br>
                <a class="u-url" href="/about/">About</a>
                {{ end }}
            </p>
        </div>
    </div>
</footer>
